<div class="row">
  <div class="col-sm-6 col-md-6">
    <div class="list-group">
      <a 
        [routerLink]='["/users", user.id, user.name]'
        href="#"
        class="list-group-item"
        *ngFor="let user of users">
           {{user.id}} | {{user.name}}
      </a>
    </div>
  </div>
  <div class="col-sm-6 col-md-6">
    <app-user></app-user>
  </div>
</div>


