<div class="row">

  <div class="col-sm-6 col-md-6">
    <div class="list-group">
      <!-- http://localhost:4200/servers/3/edit?allowEdit=1#loading -->
      <a
        [routerLink]='["/servers", server.id, "edit"]'
        [queryParams]='{allowEdit: 1}'
        fragment='loading'
        href="#"
        class="list-group-item"
        *ngFor="let server of servers">
         {{ server.name }} 
      </a>
    </div>
  </div>
  
  <div class="col-sm-6 col-md-6">
    <app-edit-server></app-edit-server>
    <hr>
    <app-server></app-server>
  </div>

</div>

