<div class="container">

  <div class="row">
    <div class="col-sm-12 col-md-12">
      <ul class="nav nav-tabs">

        <li 
          routerLinkActive="active"
          [routerLinkActiveOptions]='{exact: true}'  
        >
            <a routerLink="/">Home</a>
        </li>&nbsp;

        <li
          routerLinkActive="active"
        >
          <a routerLink="/servers">Servers</a>
        </li
        >&nbsp;

        <li
          routerLinkActive="active"
        >
          <a [routerLink]='["/users"]'>Users</a>
        </li
        >&nbsp;

      </ul>
    </div>
  </div>
  <p></p>

  <div class="row">
    <router-outlet></router-outlet>
  </div>
  
</div>
